openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Emailing.Operations API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Emailing.Operations
paths:
  /rpc/{accountId}/email/SetEmailDraftSchedule:
    post:
      operationId: SetEmailDraftSchedule
      summary: WildApricot Pause or Resume Scheduled Draft.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/GetEmailDraftPreview:
    post:
      operationId: GetEmailDraftPreview
      summary: WildApricot Get Preview Version of Email.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: email preview subject and body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDraftPreview'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/SendEmailDraft:
    post:
      operationId: SendEmailDraft
      summary: WildApricot Send Draft.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: created sent email id
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/SendEmail:
    post:
      operationId: SendEmail
      summary: WildApricot Send Draft.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: created sent email id
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/CountUniqueAddressesForEmailRecipients:
    post:
      operationId: GetUniqueEmailRecipientsCount
      summary: WildApricot Get Count of Real Email Recipients (unique Addresses).
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/CountUniqueAddressesForEmailDraft:
    post:
      operationId: GetUniqueEmailRecipientsCountForDraft
      summary: WildApricot Get Count of Real Email Recipients (unique Addresses).
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/GetUniqueAddressesForEmailRecipients:
    post:
      operationId: GetUniqueAddressesForEmailRecipients
      summary: WildApricot Get Unique Addresses of Real Email Recipients.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecipients'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/email/GetUniqueAddressesForEmailDraft:
    post:
      operationId: GetUniqueAddressesForEmailDraft
      summary: WildApricot Get Unique Addresses of Real Email Recipients.
      description: ''
      tags:
      - Emailing.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecipients'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
components:
  schemas:
    EmailRecipient:
      type: object
      properties:
        Id:
          type: integer
          description: 'If email was sent to individual recipient, this field contains contact identifier.

            If email was sent to all recipients from some saved search, this field contains saved search identifier.

            '
        Type:
          type: integer
          description: Recipient group type.
          enum:
          - IndividualContactRecipient
          - IndividualEventRegistrationRecipient
          - EventAttendees_CheckedIn
          - EventAttendees_NotCheckedIn
          - EventAttendees_Paid
          - EventAttendees_NotPaid
          - EventAttendees_All
          - EventAttendees_Selected
          - Contacts_All
          - Contacts_Selected
          - Contacts_SavedSearch
          - Members_All
          - Members_SavedSearch
          - SentEmailRecipient
          - EventWaitlist_All
          - EventWaitlist_Selected
        Name:
          type: string
          description: Display name of recipient or name of saved search.
        Email:
          type: string
          description: recipient email. for IndividualRecipient and SentEmailRecipient types only
    EmailRecipients:
      type: array
      description: Collection of recipients.
      items:
        $ref: '#/components/schemas/EmailRecipient'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code, like Validation / Search / ...
        message:
          type: string
          description: An explanation of why this error occured
        details:
          type: object
          description: More information about the error. Data structure is specific for each kind of error.
    EmailDraftPreview:
      type: object
      description: Describes how email will look like when all macros are applied.
      properties:
        Subject:
          type: string
          description: Email subject with macros applied.
        Body:
          type: string
          description: Email body HTML with mosros applied.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
