openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Finances.Refunds API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Finances.Refunds
paths:
  /accounts/{accountId}/refunds:
    get:
      operationId: GetRefundsList
      summary: WildApricot Get List of Refunds by Criteria.
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: false
        description: Identifier of contact to whom the refund was made.
        schema:
          type: integer
      - name: eventId
        in: query
        required: false
        description: Identifier of event. When specified API returns collection of refunds settled to invoices associated with event registrations for the event.
        schema:
          type: integer
      - name: idsOnly
        in: query
        required: false
        description: When set to true, API returns only collection of identifiers instead of collection of refunds.
        schema:
          type: boolean
      - name: StartDate
        in: query
        required: false
        description: Limits result to refunds created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to refunds created before EndDate.
        schema:
          type: string
      - name: unsettledOnly
        in: query
        required: false
        description: When set to true, API returns only unsettled refunds.
        schema:
          type: boolean
      - name: ids
        in: query
        required: false
        description: You can filter the refunds by specifying a set of refund IDs.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of refunds that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateRefund
      summary: WildApricot Creates a New Refund.
      description: ''
      tags:
      - Finances.Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/refunds/{refundId}:
    get:
      operationId: GetRefundDetails
      summary: WildApricot Retrieve Information About Specific Refund
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: Unique refund identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific refund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateRefund
      summary: WildApricot Update Existing Refund Information
      description: ''
      tags:
      - Finances.Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRefundParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteRefund
      summary: WildApricot Delete Existing Refund
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful refund deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    CreateFinanceDocument:
      type: object
      properties:
        Url:
          $ref: '#/components/schemas/ResourceUrl'
        Value:
          type: number
          format: float
        DocumentDate:
          type: string
          format: date
          description: Document date.
        Contact:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to contact assigned to the financial document.
        CreatedDate:
          type: string
          format: date
          description: Date and time when the document was created.
        CreatedBy:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to contact who created the document. Could be null.
    RefundsResponse:
      allOf:
      - $ref: '#/components/schemas/RefundIdsResponse'
      - $ref: '#/components/schemas/RefundListResponse'
    UpdateRefundParams:
      allOf:
      - $ref: '#/components/schemas/FinanceDocument'
      - type: object
        properties:
          Tender:
            $ref: '#/components/schemas/LinkedResourceWithName'
          Comment:
            type: string
            description: Internal note on refund. Visible to administrators only.
          PublicComment:
            type: string
            description: Comment on refund. Visible to both administrators and person being refunded.
          SettledValue:
            type: number
            format: float
            description: The previously settled amount of the payment.
    FinanceDocument:
      type: object
      properties:
        Id:
          type: integer
          description: Unique document identifier.
        Url:
          $ref: '#/components/schemas/ResourceUrl'
        Value:
          type: number
          format: float
        DocumentDate:
          type: string
          format: date
          description: Document date.
        Contact:
          allOf:
          - $ref: '#/components/schemas/LinkedResourceWithName'
          - description: Link to contact who is assigned to the financial document.
        CreatedDate:
          type: string
          format: date
          description: Date and time when the document was created.
        CreatedBy:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to contact who created the document. Could be null.
        UpdatedDate:
          type: string
          format: date
          description: Date and time when the document was last modified.  Could be null.
        UpdatedBy:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to contact who modified the document. Could be null.
    LinkedResourceWithName:
      allOf:
      - $ref: '#/components/schemas/LinkedResource'
      - type: object
        properties:
          Name:
            type: string
            description: Resource name
    RefundListResponse:
      type: object
      properties:
        Refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
          description: List of refunds that match request criteria.
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    CreateRefundParams:
      allOf:
      - $ref: '#/components/schemas/CreateFinanceDocument'
      - type: object
        properties:
          Tender:
            $ref: '#/components/schemas/LinkedResourceWithName'
          Comment:
            type: string
            description: Internal note on refund. Visible to administrators only.
          PublicComment:
            type: string
            description: Comment on refund. Visible to both administrators and the person being refunded.
          SettledValue:
            type: number
            format: float
            description: The previously settled amount of the payment.
    RefundIdsResponse:
      type: object
      properties:
        RefundIdentifiers:
          type: array
          items:
            type: integer
          description: List of refund identifiers that match request criteria. The field appears if idsOnly parameter was passed in request.
    ResourceUrl:
      type: string
      description: Permanent resource URL in API.
    Refund:
      allOf:
      - $ref: '#/components/schemas/FinanceDocument'
      - type: object
        properties:
          Tender:
            $ref: '#/components/schemas/LinkedResourceWithName'
          Comment:
            type: string
            description: Internal note on refund. Visible to administrators only.
          PublicComment:
            type: string
            description: Comment on refund. Visible to both administrators and person being refunded.
          SettledValue:
            type: number
            format: float
            description: Total amount allocated to another finance documents (payments or donations).
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
