openapi: 3.0.3
info:
  title: WildApricot Admin Accounts OnlineStore.Orders.Operations API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: OnlineStore.Orders.Operations
paths:
  /accounts/{accountId}/store/orders/{orderNumber}/status:
    put:
      operationId: OnlineStoreOrdersOperations_SetOrderStatus
      summary: WildApricot PUT /accounts/{accountId}/store/orders/{orderNumber}/status
      description: ''
      tags:
      - OnlineStore.Orders.Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFulfilment'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: orderNumber
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSetStatusResult'
      security:
      - OAuth2:
        - auto
components:
  schemas:
    OrderSetStatusResult:
      type: object
      properties:
        isCustomerNotified:
          type: boolean
    OrderStatus:
      type: string
      description: ''
      x-enumNames:
      - Unfulfilled
      - Fulfilled
      - Cancelled
      enum:
      - UNFULFILLED
      - FULFILLED
      - CANCELLED
    OrderFulfilment:
      type: object
      required:
      - status
      properties:
        status:
          $ref: '#/components/schemas/OrderStatus'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
