openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Finances.Tenders API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Finances.Tenders
paths:
  /accounts/{accountId}/tenders:
    get:
      operationId: GetTendersList
      summary: WildApricot Get List of Tenders.
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of tenders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TendersResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateTender
      summary: WildApricot Creates a New Tender.
      description: ''
      tags:
      - Finances.Tenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tender'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Tenderscreated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tender'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/tenders/{tenderId}:
    get:
      operationId: GetTenderDetails
      summary: WildApricot Retrieve Information About Specific Tender
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: Unique tender identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific tender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tender'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateTender
      summary: WildApricot Update Existing Tender Information
      description: ''
      tags:
      - Finances.Tenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tender'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteTender
      summary: WildApricot Delete Existing Tender
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful tender deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    LinkedResourceWithName:
      allOf:
      - $ref: '#/components/schemas/LinkedResource'
      - type: object
        properties:
          Name:
            type: string
            description: Resource name
    Tender:
      allOf:
      - $ref: '#/components/schemas/LinkedResourceWithName'
      - type: object
        properties:
          DisplayPosition:
            type: integer
            description: Display position in UI.
          IsCustom:
            type: boolean
            description: Indicates that this tender is created by account admin, otherwise the tender is built-in.
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    TendersResponse:
      type: array
      items:
        $ref: '#/components/schemas/Tender'
      description: Collection of tenders.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
