openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Finances.Payment Allocations API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Finances.PaymentAllocations
paths:
  /accounts/{accountId}/paymentAllocations:
    get:
      operationId: GetPaymentAllocationsList
      summary: WildApricot Get List Describing How Payments Are Allocated Among Invoices.
      description: At least one parameter InvoiceId or PaymentId or RefundId should be specified.
      tags:
      - Finances.PaymentAllocations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: InvoiceId
        in: query
        required: false
        description: Identifier of invoice.
        schema:
          type: integer
      - name: PaymentId
        in: query
        required: false
        description: Identifier of payment.
        schema:
          type: integer
      - name: RefundId
        in: query
        required: false
        description: Identifier of refund.
        schema:
          type: integer
      responses:
        '200':
          description: Collection of allocations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAllocation'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    PaymentAllocation:
      type: object
      description: Thhis object describes how payment is allocated among invoices.
      properties:
        Id:
          type: integer
          description: Unique identifier.
        Value:
          type: number
          description: allocated amount.
        Invoice:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to related invoice.
        InvoiceDate:
          type: string
          format: date
          description: Invoice date
        InvoiceNumber:
          type: string
          description: Invoice number.
        Payment:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to related payment.
        PaymentDate:
          type: string
          format: date
          description: Payment date
        PaymentType:
          $ref: '#/components/schemas/PaymentType'
        Refund:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to related refund.
        RefundDate:
          type: string
          format: date
          description: Refund date
    PaymentType:
      type: string
      enum:
      - Unknown
      - InvoicePayment
      - DonationPayment
      description: Payment type.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
