openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Membership.Operations API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Membership.Operations
paths:
  /rpc/{accountId}/ApprovePendingMembership:
    post:
      operationId: ApprovePendingMembership
      summary: WildApricot Approve Pending Membership.
      description: '

        Availability of this action depends on contact''s state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.

        '
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID to approve membership
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/RejectPendingMembership:
    post:
      operationId: RejectPendingMembership
      summary: WildApricot Reject Pending Membership.
      description: '

        Availability of this action depends on contact''s state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.

        '
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID to reject membership
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/GenerateInvoiceForPendingMembership:
    post:
      operationId: GenerateInvoiceForPendingMembership
      summary: WildApricot Generate or Update Invoice for Pending Membership.
      description: '

        Availability of this action depends on contact''s state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.

        '
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID with pending membership
        schema:
          type: integer
      - name: updateIfExists
        in: query
        required: false
        description: update the invoice items if already exists
        schema:
          type: boolean
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
