openapi: 3.0.3
info:
  title: WildApricot Admin Accounts Internal.Features API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Internal.Features
paths:
  /accounts/{accountId}/features/{featureId}:
    get:
      operationId: GetFeatureAvailability
      summary: WildApricot Get Information About Feature Availability for Specific Account.
      description: '

        There is no way to get full list of features, so api client should know feature identifier. For any invalid featureId API will return {"Allowed":true}.

        This method is reserved **_for internal use only_** and not expected to be used by third party client applications.

        '
      tags:
      - Internal.Features
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: featureId
        in: path
        required: true
        description: feature identifier
        schema:
          type: integer
      responses:
        '200':
          description: Feature availability status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
      security:
      - OAuth2:
        - auto
components:
  schemas:
    Feature:
      type: object
      title: Feature
      description: Information about specific feature availability
      properties:
        Id:
          type: string
          description: Feature identifier
        Allowed:
          type: boolean
          description: Indicates whether the feature is allowed
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
