openapi: 3.0.3
info:
  title: WildApricot Admin API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, 
    donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Accounts
  description: Account management operations
- name: Contacts
  description: Contact/member management
- name: Events
  description: Event and registration management
- name: Membership
  description: Membership levels, groups and bundles
- name: Payments
  description: Invoices, payments, refunds and donations
- name: Email
  description: Email drafts and sending
- name: Store
  description: Store orders and products
- name: Audit
  description: Audit log operations
paths:
  /:
    get:
      operationId: GetApiResources
      summary: WildApricot Base URL for Specific API Version.
      description: base URL for specific API version. It provides a list of resources that can be directly accessible by URL without providing any additional information like account ID etc.
      tags:
      - Accounts
      responses:
        '200':
          description: Array of resources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
      security:
      - OAuth2:
        - auto
  /accounts:
    get:
      operationId: GetAccountsList
      summary: WildApricot List of Available Accounts
      description: "List of accounts available with current oAuth token. Typicaly here would be only one record in an array\n"
      tags:
      - Accounts
      responses:
        '200':
          description: An array of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}:
    get:
      operationId: GetAccount
      summary: WildApricot Details for Specific Account
      description: "Details for specific account\n"
      tags:
      - Accounts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/contacts:
    get:
      operationId: GetContactsList
      summary: WildApricot Contacts List
      description: "\nContacts search can be executed in synchronous and asynchronous manner. It depends on $async query string parameters.\n  # Synchronous call\n  When API call is processing synchronously,
        then response is just an array of contacts.\n  To make a synchronous contacts search, client application should make a request with query string parameter **$async=false**.\n\n  `GET https://api.wildapricot.org/v2/accounts/{account_id}/contacts?$async=false&OTHER_QUERY_PARAMS`\n\
        \n  # Asynchronous call\n  Contacts search is processed asynchronously by default. So if client application specifies $async=true, or does not specify this parameter at all, the request is processed
        as described below. In this case contacts search is a two-step action.\n  - **Search request**. Client specifies search conditions and receives resultId. See $filter and $select parameters for filtering.\n\
        \  - **Retrieve result**. Client passes resultId and receives request processing status and contacts list if request is already processed\n\n![async contact search diagramm](http://localhost:8019/Content/swagger/WAFiles/ContactListAsyncCall.png)\n"
      tags:
      - Contacts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: $async
        in: query
        required: false
        description: "\nControls whether the API call is perform asynchronously. Default value if true.\n"
        schema:
          type: boolean
      - name: resultId
        in: query
        required: false
        description: "\nThis parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.\n"
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: "\nFilters the results of the Contacts API call so that only those records that match the filter criteria are included.\nSee [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering)
          for details.\n"
        schema:
          type: string
      - name: $select
        in: query
        required: false
        description: "Controls which fields are returned in the Contacts API call.  The field names correspond to the fields returned by the [ContactFields API call](#/Contacts.CustomFields/GetContactFieldDefinitions),
          not the field names that appear in Wild Apricot. Multiple field names are separated by commas, and field names with spaces or special characters are enclosed in single quotation marks.\n"
        schema:
          type: string
      - name: $sort
        in: query
        required: false
        description: "\nOrdering expression. There are 2 sorting options - **Name** and  **MemberSince**. And also 2 direction modifiers - **asc** and **desc**.\n---\nExample of valid expression - MemberSince
          asc\n"
        schema:
          type: string
      - name: simpleQuery
        in: query
        required: false
        description: "\nsimpleQuery is a parameter which allows you to search for contacts by matching a substring in first name, last name, organization, email or phone. This is simpler than using $filter
          parameter. \n"
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: "\nSpecifies that the result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.\n"
        schema:
          type: boolean
      - name: idsOnly
        in: query
        required: false
        description: "\nWhen idsOnly specified, the API returns only a list of identifiers matching criteria.\n"
        schema:
          type: boolean
      responses:
        '200':
          description: A wrapper object, which contains a list of contacts, contact identifiers, contacts count or information about asynchronous search request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateContact
      summary: WildApricot Create a New Contact or Member Record
      description: ''
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Returns created contact record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactExtendedMembershipInfo'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/contacts/me:
    get:
      operationId: GetCurrentContactInfo
      summary: WildApricot Retrieve Information About Current Contact
      description: ''
      tags:
      - Contacts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: information about current contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsMe'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/contacts/{contactId}:
    get:
      operationId: GetContactDetails
      summary: WildApricot Retrieve Information About Specific Member or Contact
      description: ''
      tags:
      - Contacts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: Unique contact identifier
        schema:
          type: integer
      - name: getExtendedMembershipInfo
        in: query
        required: false
        description: "\nWhen GetExtendedMembershipInfo specified the API returns the information about membership order status, membership invoice and allowed actions for current member status.\n"
        schema:
          type: boolean
      responses:
        '200':
          description: information about specific member or contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactExtendedMembershipInfo'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateContactDetails
      summary: WildApricot Update Information About Existing Member or Contact
      description: "In order to update contact details it is recommended to provide only the custom fields you want to modify. See POST .../contacts for more details.\n"
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: Unique contact identifier
        schema:
          type: integer
      responses:
        '200':
          description: "Updated version of contact information.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactExtendedMembershipInfo'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteContact
      summary: WildApricot Delete an Archived Contact
      description: Delete an archived contact
      tags:
      - Contacts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: Unique contact identifier
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/AcceptTermsOfUse:
    post:
      operationId: AcceptTermsOfUse
      summary: WildApricot Accepts Terms of Use.
      description: "Accepts Wild Apricot Terms of Use for currently loged in user. Does nothing if accepted already.\n"
      tags:
      - Contacts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/contactfields:
    get:
      operationId: GetContactFieldDefinitions
      summary: WildApricot List of Custom Fields Related to Contacts and Members.
      description: "\nThis list contains a list of fields of 2 different types.\n - System fields are defined by Wild Apricot system and cannot be removed.\n - Custom fields can be defined by administrator
        to store some data specific to your account.\n"
      tags:
      - Contacts.CustomFields
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: showSectionDividers
        in: query
        required: false
        description: Default value is false. Specifies whether section dividers also should be included in the response.
        schema:
          type: boolean
      responses:
        '200':
          description: An array of contact field descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactFieldDescription'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateContactFieldDefinition
      summary: WildApricot Creates a New Contact / Membership Field
      description: ''
      tags:
      - Contacts.CustomFields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactFieldParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: created field identifier
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/contactfields/{contactFieldId}:
    put:
      operationId: UpdateContactFieldDefinition
      summary: WildApricot Updates an Existing Contact / Membership Field
      description: 'Limitations: field type cannot be changed; contact field cannot be transformed to membership field or vice versa'
      tags:
      - Contacts.CustomFields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactFieldParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactFieldId
        in: path
        required: true
        description: contact field identifier
        schema:
          type: integer
      responses:
        '200':
          description: return true if field was updated successfully
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteContactFieldDefinition
      summary: WildApricot Removes Existing Field by Id
      description: removes existing field by id
      tags:
      - Contacts.CustomFields
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactFieldId
        in: path
        required: true
        description: contact field identifier
        schema:
          type: integer
      responses:
        '200':
          description: return true if field was removed successfully
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/savedsearches:
    get:
      operationId: GetSavedSearchesList
      summary: WildApricot List of Saved Searches.
      description: ''
      tags:
      - Contacts.SavedSearch
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: An array of saved search descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedSearchListItem'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/savedsearches/{savedSearchId}:
    get:
      operationId: GetSavedSearchDetails
      summary: WildApricot Saved Search and Found Contacts.
      description: ''
      tags:
      - Contacts.SavedSearch
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: savedSearchId
        in: path
        required: true
        description: Saved Search identifier
        schema:
          type: integer
      - name: excludeArchived
        in: query
        required: false
        description: exclude archived contacts from found ContactIDs.
        schema:
          type: boolean
      - name: $filter
        in: query
        required: false
        description: "\nFilters the results of the Contacts API call so that only those records that match the filter criteria are included.\nSee [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering)
          for details.\n"
        schema:
          type: string
      responses:
        '200':
          description: Saved Search description and found contact IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/pictures/{pictureId}:
    get:
      operationId: GetPictureContent
      summary: WildApricot Download Picture
      description: Picture available for specific account.
      tags:
      - Pictures
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: pictureId
        in: path
        required: true
        description: Picture identifier
        schema:
          type: string
      - name: fullSize
        in: query
        required: false
        description: Full size picture will be returned. If full size picture does not exist, thumbnail will be returned.
        schema:
          type: boolean
      - name: asBase64
        in: query
        required: false
        description: Base64 encoded image will be returned.
        schema:
          type: boolean
      responses:
        '200':
          description: Response is common HttpResponseMessage with content set to picture binary data.
          content:
            application/json:
              schema:
                type: file
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/pictures:
    post:
      operationId: UploadPicture
      summary: WildApricot Upload Pictures
      description: "Picture can be uploaded using multipart/form-data POST request (contains Content-Type header set to 'multipart/form-data'). A multipart/form-data request contains a series of parts,
        each representing a picture. Each part is expected to contain a \"Content-Disposition\" header whose value is \"form-data\". One of its properties (Name, FileName) must be set and have unique value.
        In case of similar values, only one of those part will be used, others will be dropped. For example, you have uploaded 2 pictures with same Name set to \"name\". If they have different FileName
        set, it's ok, but if FileName properties are same as well, only one of those pictures will be saved and available for further processing. Keep this in mind.\nLimitations:\n  - Maximum size for one
        uploaded picture is 10mb.\n  - Maximum request length is 10mb. It means that you can upload one 10mb picture or 10 pictures 1mb each.\n  - Maximum dimensions for uploaded picture are not set, but
        each picture will be resized to 110px after uploading.\n  - Supported picture types are: png, jpeg, bmp. Bmp pictures will be converted to png format.\n  - Time period after uploading when picture
        would be available for use is 30 minutes.\n  - Each uploaded picture can be used only once. After first usage it will be removed permanently.\n  - Mime type must be 'image' and must correlate to
        picture type. If you upload the 'png' with 'image/bmp' mime type set, this picture will be dropped.\n  - In case of uploading several pictures in one request either 'Name' or 'FileName' property
        of Content-Disposition header must be set. Otherwise the picture will be dropped.\n"
      tags:
      - Pictures
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: picture0
        in: formData
        required: true
        description: The uploaded picture0 data
        schema:
          type: file
      - name: picture1
        in: formData
        required: false
        description: The uploaded picture1 data
        schema:
          type: file
      responses:
        '200':
          description: Response is simple json object which contains picture guids (see example)
          content:
            application/json:
              schema:
                type: object
                properties:
                  picture0:
                    type: string
                    example: cldyhbc3.jpeg
                    description: Picture guid
                  picture1:
                    type: string
                    example: kxdtilz4.jpeg
                    description: Picture guid
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/attachments/{attachmentId}:
    get:
      operationId: GetAttachmentContent
      summary: WildApricot Download Attachment
      description: Attachment, available for specific account.
      tags:
      - Attachments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: attachmentId
        in: path
        required: true
        description: Attachment identifier
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: asBase64
        in: query
        required: false
        description: Base64 encoded image will be returned.
        schema:
          type: boolean
      responses:
        '200':
          description: Response is common HttpResponseMessage with content set to attachment binary data.
          content:
            application/json:
              schema:
                type: file
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/attachments/GetInfos:
    get:
      operationId: GetAttachmentInfos
      summary: WildApricot Get Attachments Infos
      description: Attachment infos, available for specific account.
      tags:
      - Attachments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: attachmentIds
        in: query
        required: true
        description: list of comma separated Attachment identifiers
        schema:
          type: string
      responses:
        '200':
          description: An array of attachment descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileInfo'
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/attachments/Upload:
    post:
      operationId: UploadAttachments
      summary: WildApricot Upload Attachments
      description: "Upload attachments data and get their identifiers to use for contact values.  Attachment not used for any Contact field value will be deleted in 30 minutes.\n"
      tags:
      - Attachments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: An array of attachment descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileInfo'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/membershiplevels:
    get:
      operationId: GetMembershipLevelsList
      summary: WildApricot Get List of All Membership Levels.
      description: ''
      tags:
      - Membership.Levels
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of membership levels.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MembershipLevel'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/membershiplevels/{levelId}:
    get:
      operationId: GetMembershipLevelDetails
      summary: WildApricot Retrieve Information About Specific Membership Level
      description: ''
      tags:
      - Membership.Levels
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: levelId
        in: path
        required: true
        description: Unique membership level identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific membership level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipLevel'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/bundles:
    get:
      operationId: GetMembershipBundlesList
      summary: WildApricot Get List of Membership Bundles.
      description: ''
      tags:
      - Membership.Bundles
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: levelId
        in: query
        required: false
        description: Provide this parameter to get only bundles related to specific membership level.
        schema:
          type: integer
      responses:
        '200':
          description: List of bundles matching query parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bundle'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/bundles/{bundleId}:
    get:
      operationId: GetMembershipBundle
      summary: WildApricot Get Membership Bundle Details.
      description: ''
      tags:
      - Membership.Bundles
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: bundleId
        in: path
        required: true
        description: Unique bundle identifier
        schema:
          type: integer
      responses:
        '200':
          description: Bundle description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/membergroups:
    get:
      operationId: GetMembershipGroups
      summary: WildApricot List of Ad Hoc Member Groups.
      description: ''
      tags:
      - Membership.Groups
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: An array of member group descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MembershipGroupListItem'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/membergroups/{memberGroupId}:
    get:
      operationId: GetMembershipGroupDetails
      summary: WildApricot Ad Hoc Member Group.
      description: ''
      tags:
      - Membership.Groups
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: memberGroupId
        in: path
        required: true
        description: member group identifier
        schema:
          type: integer
      - name: includeArchivedMembers
        in: query
        required: false
        description: include archived contacts in ContactIds list. Default - true.
        schema:
          type: boolean
      responses:
        '200':
          description: member group description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipGroup'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/ApprovePendingMembership:
    post:
      operationId: ApprovePendingMembership
      summary: WildApricot Approve Pending Membership.
      description: "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use
        list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n"
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID to approve membership
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/RejectPendingMembership:
    post:
      operationId: RejectPendingMembership
      summary: WildApricot Reject Pending Membership.
      description: "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use
        list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n"
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID to reject membership
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/events:
    get:
      operationId: GetEventsList
      summary: WildApricot Events List
      description: ''
      tags:
      - Events
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: $async
        in: query
        required: false
        description: "\nControls whether the API call is perform asynchronously. Default value if true.\n"
        schema:
          type: boolean
      - name: resultId
        in: query
        required: false
        description: "\nThis parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.\n"
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: "\nFilters the results of the Events API call so that only those records that match the filter criteria are included.\nThe following filter criterias are supported:\n\n  - Id, Supported
          operations: in.\n  - RegistrationEnabled, Supported operations: eq, ne.\n  - IsUpcoming, Supported operations: eq, ne.\n  - Tags, Supported operations: in.\n  - StartDate, Supported operations:
          eq, ne, gt, ge, lt, le.\n  - EndDate, Supported operations: eq, ne, gt, ge, lt, le.\n  - Name, Supported operations: eq, ne, substringof.\n  - TextIndex, Supported operations: substringof.\n"
        schema:
          type: string
      - name: $sort
        in: query
        required: false
        description: "\nThis parameter can be used to sort list of IDs or list of events. Possible values are\n\n  - ByStartDate asc - sort events by their Start date. Ascending order.\n  - ByStartDate
          desc - sort events by their Start date. Descending order.\n  - ByStartSession asc - sort events by start of their sessions (if exists). All past events ignored\n\n  Example: $sort=ByStartDate
          asc"
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: "\nSpecifies that result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.\n"
        schema:
          type: boolean
      - name: idsOnly
        in: query
        required: false
        description: "\nWhen idsOnly specified, the API returns only a list of identifiers matching criteria.\n"
        schema:
          type: boolean
      responses:
        '200':
          description: A wrapper object, which contains a list of events, event identifiers or events count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateEvent
      summary: WildApricot Create a New Event Record
      description: ''
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEditParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Returns created event record id
          content:
            application/json:
              schema:
                type: number
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/events/{eventId}:
    get:
      operationId: GetEventDetails
      summary: WildApricot Retrieve Information About Specific Event
      description: ''
      tags:
      - Events
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: eventId
        in: path
        required: true
        description: Unique event identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateEvent
      summary: WildApricot Update Information About Existing Event
      description: ''
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEditParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: eventId
        in: path
        required: true
        description: Unique event identifier
        schema:
          type: integer
      responses:
        '200':
          description: "Updated version of event information.\n"
          content:
            application/json:
              schema:
                $ref: boolean
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteEvent
      summary: WildApricot Completely Delete Event from System.
      description: Completely delete event from system.
      tags:
      - Events
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: eventId
        in: path
        required: true
        description: Unique event identifier
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/CloneEvent:
    post:
      operationId: CloneEvent
      summary: WildApricot Clone Existed Event.
      description: ''
      tags:
      - Events
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: created event id
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/EventRegistrationTypes:
    get:
      operationId: getEventRegistrationTypesList
      summary: WildApricot Event Registration Types List
      description: ''
      tags:
      - Events.EventRegistrationTypes
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: eventId
        in: query
        required: true
        description: event identifier
        schema:
          type: integer
      responses:
        '200':
          description: List of event registration types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationTypeResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateEventRegistrationType
      summary: WildApricot Creates a New Event Registration Type.
      description: ''
      tags:
      - Events.EventRegistrationTypes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRegistrationTypeEditParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Created event registration type ID
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/EventRegistrationTypes/{typeId}:
    get:
      operationId: GetEventRegistrationTypeDetails
      summary: WildApricot Event Registration Type Details
      description: ''
      tags:
      - Events.EventRegistrationTypes
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: typeId
        in: path
        required: true
        description: Unique event registration type identifier
        schema:
          type: number
      responses:
        '200':
          description: Information about specific event registration type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationType'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateEventRegistrationType
      summary: WildApricot Update Information About Existing Event Registration Type
      description: ''
      tags:
      - Events.EventRegistrationTypes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRegistrationTypeEditParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: typeId
        in: path
        required: true
        description: Unique event registration type identifier
        schema:
          type: number
      responses:
        '200':
          description: No information returned on successful update
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteEventRegistrationType
      summary: WildApricot Completely Delete Event Registration Type from the System.
      description: Completely delete event registration type from the system.
      tags:
      - Events.EventRegistrationTypes
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: typeId
        in: path
        required: true
        description: Unique event registration type identifier
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/eventregistrations:
    get:
      operationId: GetEventRegistrationsList
      summary: WildApricot Event Registrations List
      description: "âš  There are 3 parameters, which cannot be used simultaneously. API uses only one parameter of contactId, eventId, $filter or ids exactly in this order. For example if request contains
        both contactId and eventId, then API uses only contactId to filter event registrations. âš  Request parameter is required\n"
      tags:
      - Events.EventRegistrations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: false
        description: contact identifier
        schema:
          type: integer
      - name: eventId
        in: query
        required: false
        description: event identifier
        schema:
          type: integer
      - name: $filter
        in: query
        required: false
        description: "Filters the results of the Events API call so that only those records that match the filter criteria are included. The following filter criterias are supported:\n  - Id, Supported
          operations: in.\n    example: ?$filter=id in [1,2,3,4â€¦.]\n"
        schema:
          type: string
      - name: includeDetails
        in: query
        required: false
        description: If false, registration form data is not retrieved
        schema:
          type: boolean
      - name: includeWaitlist
        in: query
        required: false
        description: Defines if waitlist records should be included in result
        schema:
          type: boolean
      responses:
        '200':
          description: List of event registrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistrationsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateEventRegistration
      summary: WildApricot Creates a New Event Registration.
      description: ''
      tags:
      - Events.EventRegistrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRegistrationPost'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Event registration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistration'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/eventregistrations/{event_registration_id}:
    get:
      operationId: GetEventRegistrationDetails
      summary: WildApricot Event Registration Details
      description: ''
      tags:
      - Events.EventRegistrations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: event_registration_id
        in: path
        required: true
        description: event registration identifier
        schema:
          type: number
      responses:
        '200':
          description: List of Event Registrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistration'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteEventRegistration
      summary: WildApricot Event Registration
      description: ''
      tags:
      - Events.EventRegistrations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: event_registration_id
        in: path
        required: true
        description: event registration identifier
        schema:
          type: number
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateEventRegistration
      summary: WildApricot Update Event Registration.
      description: ''
      tags:
      - Events.EventRegistrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRegistrationPut'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: event_registration_id
        in: path
        required: true
        description: event registration identifier
        schema:
          type: number
      responses:
        '200':
          description: Event registration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistration'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/CheckInEventAttendee:
    post:
      operationId: CheckInEventAttendee
      summary: WildApricot Mark Event Attendee as Checked-in (or Remove Check-in Flag).
      description: ''
      tags:
      - Events.EventRegistrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/RegisterFromWaitlist:
    post:
      operationId: RegisterFromWaitlist
      summary: WildApricot Add Waitlisted Person as Event Attendee
      description: ''
      tags:
      - Events.EventRegistrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterFromWaitlistParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Event registration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRegistration'
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/invoices:
    get:
      operationId: GetInvoicesList
      summary: WildApricot Get List of Invoices by Criteria.
      description: "\nâš  There are 3 parameters, which cannot be used simultaneously. API uses only one parameter of contactId, eventId and eventRegistrationId exactly in this order. For example if request
        contains both contactId and eventId, then API uses only contactId to filter invoices.\n"
      tags:
      - Finances.Invoices
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: false
        description: Identifier of contact to whom the invoice is assigned.
        schema:
          type: integer
      - name: eventId
        in: query
        required: false
        description: Identifier of event. When specified API returns collection of invoices associated with event registrations for the event.
        schema:
          type: integer
      - name: eventRegistrationId
        in: query
        required: false
        description: Identifier of event registration. When specified API returns invoice related to the registration. Usually a single invoice.
        schema:
          type: integer
      - name: unpaidOnly
        in: query
        required: false
        description: When set to true, API returns only unpaid invoices.
        schema:
          type: boolean
      - name: paidOnly
        in: query
        required: false
        description: When set to true, API returns only paid invoices.
        schema:
          type: boolean
      - name: includeVoided
        in: query
        required: false
        description: When set to true, API also returns voided invoices.
        schema:
          type: boolean
      - name: idsOnly
        in: query
        required: false
        description: When set to true, API returns only collection of identifiers instead of collection of invoices.
        schema:
          type: boolean
      - name: StartDate
        in: query
        required: false
        description: Limits result to invoices created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to invoices created before EndDate.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of invoices that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateInvoice
      summary: WildApricot Creates a New Invoice.
      description: ''
      tags:
      - Finances.Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Created invoice ID
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/invoices/{invoiceId}:
    get:
      operationId: GetInvoiceDetails
      summary: WildApricot Retrieve Information About Specific Invoice
      description: ''
      tags:
      - Finances.Invoices
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        description: Unique invoice identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateInvoice
      summary: WildApricot Update Existing Invoice Information
      description: ''
      tags:
      - Finances.Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteInvoice
      summary: WildApricot Delete Existing Invoice
      description: ''
      tags:
      - Finances.Invoices
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful invoice deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/GenerateInvoiceForPendingMembership:
    post:
      operationId: GenerateInvoiceForPendingMembership
      summary: WildApricot Generate or Update Invoice for Pending Membership.
      description: "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use
        list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n"
      tags:
      - Membership.Operations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: true
        description: Contact ID with pending membership
        schema:
          type: integer
      - name: updateIfExists
        in: query
        required: false
        description: update the invoice items if already exists
        schema:
          type: boolean
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '400':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/GenerateInvoiceForEventRegistration:
    post:
      operationId: GenerateInvoiceForEventRegistration
      summary: WildApricot Generate or Update Invoice for Existing Event Registration.
      description: ''
      tags:
      - Finances.Invoices
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: eventRegistrationId
        in: query
        required: true
        description: Event registration ID with pending membership
        schema:
          type: integer
      - name: updateIfExists
        in: query
        required: false
        description: If set to true and invoice already exists, API will update the invoice items.
        schema:
          type: boolean
      responses:
        '200':
          description: created or updated invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /rpc/{accountId}/VoidInvoice:
    post:
      operationId: VoidInvoice
      summary: WildApricot Void Active Invoice.
      description: See https://gethelp.wildapricot.com/en/articles/76#voiding for details on invoice voiding
      tags:
      - Finances.Invoices
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: invoiceId
        in: query
        required: true
        description: invoiceId ID to void
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments:
    get:
      operationId: GetPaymentsList
      summary: WildApricot Get List of Payments by Criteria.
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: false
        description: Identifier of contact who made the payment.
        schema:
          type: integer
      - name: eventId
        in: query
        required: false
        description: Identifier of event. When specified API returns collection of payments settled to invoices associated with event registrations for the event.
        schema:
          type: integer
      - name: idsOnly
        in: query
        required: false
        description: When set to true, API returns only collection of identifiers instead of collection of payments.
        schema:
          type: boolean
      - name: StartDate
        in: query
        required: false
        description: Limits result to payments created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to payments created before EndDate.
        schema:
          type: string
      - name: paimentType
        in: query
        required: false
        description: Limits result to payment type.
        schema:
          type: string
      - name: unsettledOnly
        in: query
        required: false
        description: When set to true, API returns only unsettled payments.
        schema:
          type: boolean
      - name: ids
        in: query
        required: false
        description: You can filter the payments by specifying a set of payment IDs.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of payments that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreatePayment
      summary: WildApricot Creates a New Payment.
      description: ''
      tags:
      - Finances.Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentModel'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{paymentId}:
    get:
      operationId: GetPaymentDetails
      summary: WildApricot Retrieve Information About Specific Payment
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: Unique payment identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdatePayment
      summary: WildApricot Update Existing Payment Information
      description: ''
      tags:
      - Finances.Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeletePayment
      summary: WildApricot Delete Existing Payment
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful payment deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{paymentId}/AllocateInvoice:
    post:
      operationId: AllocateInvoice
      summary: WildApricot Allocate Invoice to Specific Payment
      description: After this operation invoice will be marked as paid.
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: Unique payment identifier
        schema:
          type: integer
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{paymentId}/AllocateRefundToPayment:
    post:
      operationId: AllocateRefundToPayment
      summary: WildApricot Allocate Refund to Specific Payment
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: Unique payment identifier
        schema:
          type: integer
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{donationId}/AllocateRefundToDonation:
    post:
      operationId: AllocateRefundToDonation
      summary: WildApricot Allocate Refund to Specific Donation
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: Unique donation identifier
        schema:
          type: integer
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{paymentId}/UnallocateFromPayment:
    post:
      operationId: UnallocateFinanceDocumentFromPayment
      summary: WildApricot Unallocate Finance Document from Specific Payment
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: paymentId
        in: path
        required: true
        description: Unique payment identifier
        schema:
          type: integer
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/payments/{donationId}/UnallocateFromDonation:
    post:
      operationId: UnallocateFinanceDocumentFromDonation
      summary: WildApricot Unallocate Finance Document from Specific Donation
      description: ''
      tags:
      - Finances.Payments
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: Unique donation identifier
        schema:
          type: integer
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/paymentAllocations:
    get:
      operationId: GetPaymentAllocationsList
      summary: WildApricot Get List Describing How Payments Are Allocated Among Invoices.
      description: At least one parameter InvoiceId or PaymentId or RefundId should be specified.
      tags:
      - Finances.PaymentAllocations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: InvoiceId
        in: query
        required: false
        description: Identifier of invoice.
        schema:
          type: integer
      - name: PaymentId
        in: query
        required: false
        description: Identifier of payment.
        schema:
          type: integer
      - name: RefundId
        in: query
        required: false
        description: Identifier of refund.
        schema:
          type: integer
      responses:
        '200':
          description: Collection of allocations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAllocation'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/refunds:
    get:
      operationId: GetRefundsList
      summary: WildApricot Get List of Refunds by Criteria.
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: contactId
        in: query
        required: false
        description: Identifier of contact to whom the refund was made.
        schema:
          type: integer
      - name: eventId
        in: query
        required: false
        description: Identifier of event. When specified API returns collection of refunds settled to invoices associated with event registrations for the event.
        schema:
          type: integer
      - name: idsOnly
        in: query
        required: false
        description: When set to true, API returns only collection of identifiers instead of collection of refunds.
        schema:
          type: boolean
      - name: StartDate
        in: query
        required: false
        description: Limits result to refunds created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to refunds created before EndDate.
        schema:
          type: string
      - name: unsettledOnly
        in: query
        required: false
        description: When set to true, API returns only unsettled refunds.
        schema:
          type: boolean
      - name: ids
        in: query
        required: false
        description: You can filter the refunds by specifying a set of refund IDs.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of refunds that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundsResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateRefund
      summary: WildApricot Creates a New Refund.
      description: ''
      tags:
      - Finances.Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/refunds/{refundId}:
    get:
      operationId: GetRefundDetails
      summary: WildApricot Retrieve Information About Specific Refund
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: Unique refund identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific refund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateRefund
      summary: WildApricot Update Existing Refund Information
      description: ''
      tags:
      - Finances.Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRefundParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteRefund
      summary: WildApricot Delete Existing Refund
      description: ''
      tags:
      - Finances.Refunds
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: refundId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful refund deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/tenders:
    get:
      operationId: GetTendersList
      summary: WildApricot Get List of Tenders.
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of tenders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TendersResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: CreateTender
      summary: WildApricot Creates a New Tender.
      description: ''
      tags:
      - Finances.Tenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tender'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Tenderscreated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tender'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/tenders/{tenderId}:
    get:
      operationId: GetTenderDetails
      summary: WildApricot Retrieve Information About Specific Tender
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: Unique tender identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific tender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tender'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateTender
      summary: WildApricot Update Existing Tender Information
      description: ''
      tags:
      - Finances.Tenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tender'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: DeleteTender
      summary: WildApricot Delete Existing Tender
      description: ''
      tags:
      - Finances.Tenders
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: tenderId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful tender deletion
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/auditLogItems:
    get:
      operationId: GetAuditLogItems
      summary: WildApricot List of Audit Log Items.
      description: "List filter has limitations.\n - if filterObjectType is set then FilterObjectId must be set too.\n - empty filter not allowed (none of filterObjectType, FilterObjectId, StartDate and
        EndDate are set).\n"
      tags:
      - Finances.AuditLog
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: filterObjectType
        in: query
        required: false
        description: Kind of object for audit log filter
        schema:
          type: string
      - name: FilterObjectId
        in: query
        required: false
        description: Unique identifyer of type filterObjectType
        schema:
          type: integer
      - name: StartDate
        in: query
        required: false
        description: Limits result to log items created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to log items created before EndDate.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: An array of audit log item descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditItemsListResult'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/auditLogItems/{itemId}:
    get:
      operationId: GetAuditLogItem
      summary: WildApricot Single Audit Log Item.
      description: ''
      tags:
      - Finances.AuditLog
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        description: Audit log item identifier
        schema:
          type: integer
      responses:
        '200':
          description: Audit log item description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogItem'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/donationfields:
    get:
      operationId: ''
      summary: WildApricot List of Custom Fields Related to Donations.
      description: "\nThis list contains a list of fields of 2 different types.\n - System fields are defined by Wild Apricot system and could not be removed.\n - Custom fields could be defined by administrator
        to store some data specific to your account.\n"
      tags:
      - Donation.CustomFields
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: showSectionDividers
        in: query
        required: false
        description: Default value is false. Specifies whether section dividers also should be presented in the response.
        schema:
          type: boolean
      responses:
        '200':
          description: An array of donation field descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityFieldDescription'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    post:
      operationId: ''
      summary: WildApricot Creates a New Donation Field
      description: ''
      tags:
      - Donation.CustomFields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityFieldParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: created field identifier
          content:
            application/json:
              schema:
                type: integer
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/donationfields/{donationFieldId}:
    put:
      operationId: ''
      summary: WildApricot Updates an Existing Donation Field
      description: 'Limitations: field type can not be changed'
      tags:
      - Donation.CustomFields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditEntityFieldParams'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationFieldId
        in: path
        required: true
        description: donation field identifier
        schema:
          type: integer
      responses:
        '200':
          description: return true if field was updated successfully
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    delete:
      operationId: ''
      summary: WildApricot Removes Existing Field by Id
      description: removes existing field by id
      tags:
      - Donation.CustomFields
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationFieldId
        in: path
        required: true
        description: donation field identifier
        schema:
          type: integer
      responses:
        '200':
          description: return true if field was removed successfully
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/donations:
    get:
      operationId: GetDonationsList
      summary: WildApricot Get List of Donations by Criteria.
      description: ''
      tags:
      - Finances.Donations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: StartDate
        in: query
        required: false
        description: Limits result to donations created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to donations created before EndDate.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of donations that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationListResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/donations/{donationId}:
    get:
      operationId: GetDonationDetails
      summary: WildApricot Retrieve Information About Specific Donation
      description: ''
      tags:
      - Finances.Donations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: Unique donation identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Donation'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateDonation
      summary: WildApricot Update Existing Donation Information
      description: ''
      tags:
      - Finances.Donations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Donation'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/SentEmails:
    get:
      operationId: GetSentEmailsLog
      summary: WildApricot Sent Emails
      description: Sent emails
      tags:
      - Emailing.SentEmails
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: idsOnly
        in: query
        required: false
        description: "To get only a list of email identifiers as a result of search request.\n"
        schema:
          type: boolean
      - name: $filter
        in: query
        required: false
        description: "Allowed filter fields (**allowed operations**):\n  - *SentDate* (**ge**, **le**),\n  - *SenderId* (**eq**) - ID of sender,\n  - *OriginType* (**eq**) - see SentEmail.Origin.OriginType,\n\
          \  - *SendingType* (**eq**) -SentEmail.SendingType (Automatic or Manual)\n\n  only AND boolean operator supported\n  - ...&$filter=SentDate ge 2018-05-01 - will return records sent on or after
          May 1st, 2018"
        schema:
          type: string
      responses:
        '200':
          description: Contains a list of sent emails or list of identifiers, depending on idsOnly parameter value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLog'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/SentEmails/{emailId}:
    get:
      operationId: GetSentEmailDetails
      summary: WildApricot Sent Email Details
      description: Sent email details
      tags:
      - Emailing.SentEmails
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: emailId
        in: path
        required: true
        description: Email unique Id
        schema:
          type: integer
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLogRecord'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/EmailDrafts:
    get:
      operationId: GetEmailDraftsList
      summary: WildApricot Email Drafts
      description: Email drafts
      tags:
      - Emailing.Drafts
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: idsOnly
        in: query
        required: false
        description: "Should be set to true in order to get only a list of email identifiers as a result of search request.\n"
        schema:
          type: boolean
      - name: $filter
        in: query
        required: false
        description: "Allowed filter fields (**allowed operations**):\n  - *LastChangedDate* (**ge**, **le**),\n  - *CreatorId* (**eq**),\n  - *IsScheduled* (**eq**),\n  - *EventId* (**eq**)\n\n  only AND
          boolean operator supported\n  - ...&$filter=LastChangedDate ge 2018-05-01 - will return records updated on or after May 1st, 2018\n  - ...&$filter=LastChangedDate ge 2010-05-01 AND CreatorId eq
          123456 - will return records updated on or after May 1st, 2010 and create by a user with Contact ID 123456      \n  - ...&$filter=IsScheduled eq true - will return scheduled drafts only"
        schema:
          type: string
      responses:
        '200':
          description: A wrapper object, which contains a list of sent emails. also contains EmailDraftIdentifiersResult if idsOnly parameter is true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDraftListResult'
        '401':
          description: ''
        '428':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
[...]
