openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Finances.Donations API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Finances.Donations
paths:
  /accounts/{accountId}/donations:
    get:
      operationId: GetDonationsList
      summary: WildApricot Get List of Donations by Criteria.
      description: ''
      tags:
      - Finances.Donations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: StartDate
        in: query
        required: false
        description: Limits result to donations created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to donations created before EndDate.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Collection of donations that match criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationListResponse'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/donations/{donationId}:
    get:
      operationId: GetDonationDetails
      summary: WildApricot Retrieve Information About Specific Donation
      description: ''
      tags:
      - Finances.Donations
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: Unique donation identifier
        schema:
          type: integer
      responses:
        '200':
          description: information about specific donation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Donation'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
    put:
      operationId: UpdateDonation
      summary: WildApricot Update Existing Donation Information
      description: ''
      tags:
      - Finances.Donations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Donation'
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: donationId
        in: path
        required: true
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    DonationType:
      type: string
      enum:
      - Online
      - Manual
      description: Donation type.
    Donation:
      type: object
      properties:
        Contact:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to contact who is assigned to the donation.
        Payment:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to payment assigned to the donation.
        DonationDate:
          type: string
          format: date
          description: Donation date.
        FirstName:
          type: string
          description: First name of the donor.
        LastName:
          type: string
          description: Last name of the donor.
        Email:
          type: string
          description: Email of the donor.
        Organization:
          type: string
          description: Organization of the donor.
        Phone:
          type: string
          description: Phone of the donor.
        Comment:
          type: string
          description: Internal note on donation. Visible to administrators only.
        PublicComment:
          type: string
          description: Comment on donation. Visible to both administrators and donors.
        Value:
          type: number
          format: float
          description: Donation amount.
        Type:
          $ref: '#/components/schemas/DonationType'
        FieldValues:
          type: array
          description: For each custom field you have added to your Wild Apricot database, the name of the field, its system code, and its value for this donation are returned. The system code is a unique field identifier that can be used instead of the field name to identify the field. As well, a number of system fields are returned.
          items:
            $ref: '#/components/schemas/FieldValue'
    DonationListResponse:
      type: object
      properties:
        Payments:
          type: array
          items:
            $ref: '#/components/schemas/Donation'
          description: List of donations that match request criteria.
    FieldValue:
      type: object
      properties:
        FieldName:
          type: string
          description: Field title. Custom field names are defined by account adinistrator. System field names are predefined by Wild Apricot system.
        SystemCode:
          type: string
          description: The system code is a unique field identifier that can be used instead of the field name to identify the field. While field name could be changed by administrators, system codes are defined by the system and cannot be changed.
        Value:
          type: object
          description: Field value could be an integer / string / date in ISO8601 format / boolean / an object consisting of Id and Label or array of such objects. The content format depends on custom field description.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
