openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Emailing.Sent Email Recipients API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Emailing.SentEmailRecipients
paths:
  /accounts/{accountId}/SentEmailRecipients:
    get:
      operationId: SentEmailRecipientList
      summary: WildApricot Sent Email Recipients
      description: Sent email recipients
      tags:
      - Emailing.SentEmailRecipients
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: emailId
        in: query
        required: true
        description: sent email Id (from email Log)
        schema:
          type: integer
      - name: LoadLinks
        in: query
        required: false
        description: load clicked links information
        schema:
          type: boolean
      - name: Delivered
        in: query
        required: false
        description: load delivered or not delivered only
        schema:
          type: boolean
      - name: Opened
        in: query
        required: false
        description: load opened or not opened only
        schema:
          type: boolean
      responses:
        '200':
          description: Contains a list of sent email recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentEmailRecipientsRecords'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    ClickedLink:
      type: object
      properties:
        Url:
          type: string
          description: Link address.
        Clicked:
          type: boolean
          description: the link is clicked at least once
        ClicksCount:
          type: integer
          description: Total number of link clicks (by all recipients).
    SentEmailRecipientsRecords:
      type: object
      properties:
        Recipients:
          type: array
          items:
            $ref: '#/components/schemas/SentEmailRecipient'
          description: Collection of email recipients.
    SentEmailRecipient:
      type: object
      properties:
        ContactId:
          type: integer
          description: 'Contact identifier with used email address.

            '
        EventRegistrationId:
          type: integer
          description: 'Event regisration Id if the email was sent to an event attendee.

            '
        FirstName:
          type: string
          description: first name of recipient.
        LastName:
          type: string
          description: last name of recipient.
        Organization:
          type: string
          description: organization of recipient.
        Email:
          type: string
          description: recipient email.
        RecipientName:
          type: string
          description: display name of recipient (Last, First names (if set) or Organization).
        IsDelivered:
          type: boolean
          description: email has been successfully sent.
        IsOpened:
          type: boolean
          description: email has been opened/viewed.
        ClickedLinks:
          type: array
          items:
            $ref: '#/components/schemas/ClickedLink'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
