openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Membership.Bundles API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Membership.Bundles
paths:
  /accounts/{accountId}/bundles:
    get:
      operationId: GetMembershipBundlesList
      summary: WildApricot Get List of Membership Bundles.
      description: ''
      tags:
      - Membership.Bundles
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: levelId
        in: query
        required: false
        description: Provide this parameter to get only bundles related to specific membership level.
        schema:
          type: integer
      responses:
        '200':
          description: List of bundles matching query parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bundle'
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/bundles/{bundleId}:
    get:
      operationId: GetMembershipBundle
      summary: WildApricot Get Membership Bundle Details.
      description: ''
      tags:
      - Membership.Bundles
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: bundleId
        in: path
        required: true
        description: Unique bundle identifier
        schema:
          type: integer
      responses:
        '200':
          description: Bundle description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    Bundle:
      type: object
      properties:
        Id:
          type: integer
          description: Unique bundle identifier.
        Url:
          $ref: '#/components/schemas/ResourceUrl'
        Email:
          type: string
          description: Email of bundle administrator.
        ParticipantsCount:
          type: integer
          description: The number of members in the bundle.
        Administrator:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to bundle administrator.
        MembershipLevel:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to membership level related to this bundle.
        SpacesLeft:
          type: integer
          description: If bundle size is limited, then this field indicates number of vacant spaces left in the bundle.
        Members:
          type: array
          items:
            $ref: '#/components/schemas/LinkedResource'
          description: Collection of links to members of the bundle.
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    ResourceUrl:
      type: string
      description: Permanent resource URL in API.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
