openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Pictures API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Pictures
paths:
  /accounts/{accountId}/pictures/{pictureId}:
    get:
      operationId: GetPictureContent
      summary: WildApricot Download Picture
      description: Picture available for specific account.
      tags:
      - Pictures
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: pictureId
        in: path
        required: true
        description: Picture identifier
        schema:
          type: string
      - name: fullSize
        in: query
        required: false
        description: Full size picture will be returned. If full size picture does not exist, thumbnail will be returned.
        schema:
          type: boolean
      - name: asBase64
        in: query
        required: false
        description: Base64 encoded image will be returned.
        schema:
          type: boolean
      responses:
        '200':
          description: Response is common HttpResponseMessage with content set to picture binary data.
          content:
            application/json:
              schema:
                type: file
        '400':
          description: ''
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/pictures:
    post:
      operationId: UploadPicture
      summary: WildApricot Upload Pictures
      description: "Picture can be uploaded using multipart/form-data POST request (contains Content-Type header set to 'multipart/form-data'). A multipart/form-data request contains a series of parts, each representing a picture. Each part is expected to contain a \"Content-Disposition\" header whose value is \"form-data\". One of its properties (Name, FileName) must be set and have unique value. In case of similar values, only one of those part will be used, others will be dropped. For example, you have uploaded 2 pictures with same Name set to \"name\". If they have different FileName set, it's ok, but if FileName properties are same as well, only one of those pictures will be saved and available for further processing. Keep this in mind.\nLimitations:\n  - Maximum size for one uploaded picture is 10mb.\n  - Maximum request length is 10mb. It means that you can upload one 10mb picture or 10 pictures 1mb each.\n  - Maximum dimensions for uploaded picture are not set, but each picture will be resized to 110px after uploading.\n  - Supported picture types are: png, jpeg, bmp. Bmp pictures will be converted to png format.\n  - Time period after uploading when picture would be available for use is 30 minutes.\n  - Each uploaded picture can be used only once. After first usage it will be removed permanently.\n  - Mime type must be 'image' and must correlate to picture type. If you upload the 'png' with 'image/bmp' mime type set, this picture will be dropped.\n  - In case of uploading several pictures in one request either 'Name' or 'FileName' property of Content-Disposition header must be set. Otherwise the picture will be dropped.\n"
      tags:
      - Pictures
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: picture0
        in: formData
        required: true
        description: The uploaded picture0 data
        schema:
          type: file
      - name: picture1
        in: formData
        required: false
        description: The uploaded picture1 data
        schema:
          type: file
      responses:
        '200':
          description: Response is simple json object which contains picture guids (see example)
          content:
            application/json:
              schema:
                type: object
                properties:
                  picture0:
                    type: string
                    example: cldyhbc3.jpeg
                    description: Picture guid
                  picture1:
                    type: string
                    example: kxdtilz4.jpeg
                    description: Picture guid
        '400':
          description: ''
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
