openapi: 3.0.3
info:
  title: WildApricot Admin Accounts Finances.AuditLog API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Finances.AuditLog
paths:
  /accounts/{accountId}/auditLogItems:
    get:
      operationId: GetAuditLogItems
      summary: WildApricot List of Audit Log Items.
      description: "List filter has limitations.\n - if filterObjectType is set then FilterObjectId must be set too.\n - empty filter not allowed (none of filterObjectType, FilterObjectId, StartDate and EndDate are set).\n"
      tags:
      - Finances.AuditLog
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: filterObjectType
        in: query
        required: false
        description: Kind of object for audit log filter
        schema:
          type: string
      - name: FilterObjectId
        in: query
        required: false
        description: Unique identifyer of type filterObjectType
        schema:
          type: integer
      - name: StartDate
        in: query
        required: false
        description: Limits result to log items created since StartDate.
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        description: Limits result to log items created before EndDate.
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: An array of audit log item descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditItemsListResult'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/auditLogItems/{itemId}:
    get:
      operationId: GetAuditLogItem
      summary: WildApricot Single Audit Log Item.
      description: ''
      tags:
      - Finances.AuditLog
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        description: Audit log item identifier
        schema:
          type: integer
      responses:
        '200':
          description: Audit log item description
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogItem'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    LinkedResource:
      type: object
      properties:
        Id:
          type: integer
          description: unique item identifier
        Url:
          type: string
          description: API url to get item details
    AuditLogItem:
      type: object
      properties:
        Id:
          type: integer
          description: Unique identifier.
        Url:
          $ref: '#/components/schemas/ResourceUrl'
        Timestamp:
          type: string
          format: date
          description: Item creation date.
        Contact:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to related contact.
        FirstName:
          type: string
          description: Contact first name
        LastName:
          type: string
          description: Contact last name
        Organization:
          type: string
          description: Contact organization
        Email:
          type: string
          description: Contact primary email.
        Message:
          type: string
          description: Log item text.
        Severity:
          type: string
          description: Log item severity level.
          enum:
          - Verbose
          - Information
          - AttentionRequired
          - Warning
          - Error
          - Critical
        OrderType:
          type: string
          description: The origin of the audit log entry.
          enum:
          - MembershipApplication
          - MembershipRenewal
          - MembershipLevelChange
          - EventRegistration
          - Donation
          - ChangeBillingPlan
          - ChangeBillingInfo
          - LockInPlan
          - AssociationRenewal
        Properties:
          type: object
          description: Collection of audit log item properties that contains all technical information about transaction and other linked documents.
        Document:
          allOf:
          - $ref: '#/components/schemas/LinkedResource'
          - description: Link to related document.
        DocumentType:
          type: string
          description: Related document type.
          enum:
          - Invoice
          - Payment
          - CreditMemo
          - Refund
          - Adjustment
          - DonationPayment
          - InvoicePayment
        DocumentAction:
          type: string
          description: Action performed on related document type.
          enum:
          - Created
          - Changed
          - Deleted
          - Voided
          - Custom
    ResourceUrl:
      type: string
      description: Permanent resource URL in API.
    AuditItemsListResult:
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogItem'
          description: List of audit log items that match request criteria.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
