openapi: 3.2.0
info:
  title: WildApricot Admin Accounts Emailing.Sent Emails API
  description: The WildApricot Admin API provides programmatic access to membership management features including contacts, events, event registrations, membership levels, invoices, payments, donations, email campaigns, and store orders. Authentication uses OAuth2 with client credentials or authorization code flow.
  version: 7.24.0
  contact:
    name: WildApricot Support
    url: https://gethelp.wildapricot.com/
  license:
    name: Proprietary
  x-generated-from: documentation
servers:
- url: https://api.wildapricot.org/v2.2
  description: WildApricot Admin API v2.2
tags:
- name: Emailing.SentEmails
paths:
  /accounts/{accountId}/SentEmails:
    get:
      operationId: GetSentEmailsLog
      summary: WildApricot Sent Emails
      description: Sent emails
      tags:
      - Emailing.SentEmails
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: idsOnly
        in: query
        required: false
        description: 'To get only a list of email identifiers as a result of search request.

          '
        schema:
          type: boolean
      - name: $filter
        in: query
        required: false
        description: "Allowed filter fields (**allowed operations**):\n  - *SentDate* (**ge**, **le**),\n  - *SenderId* (**eq**) - ID of sender,\n  - *OriginType* (**eq**) - see SentEmail.Origin.OriginType,\n  - *SendingType* (**eq**) -SentEmail.SendingType (Automatic or Manual)\n\n  only AND boolean operator supported\n  - ...&$filter=SentDate ge 2018-05-01 - will return records sent on or after May 1st, 2018"
        schema:
          type: string
      responses:
        '200':
          description: Contains a list of sent emails or list of identifiers, depending on idsOnly parameter value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLog'
        '401':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
  /accounts/{accountId}/SentEmails/{emailId}:
    get:
      operationId: GetSentEmailDetails
      summary: WildApricot Sent Email Details
      description: Sent email details
      tags:
      - Emailing.SentEmails
      parameters:
      - name: ''
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: emailId
        in: path
        required: true
        description: Email unique Id
        schema:
          type: integer
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailLogRecord'
        '401':
          description: ''
        '404':
          description: ''
        '429':
          description: ''
      security:
      - OAuth2:
        - auto
components:
  schemas:
    EmailType:
      type: string
      enum:
      - Unknown
      - MemberApplication_ActivationEmail
      - MemberApplication_InitiationEmail
      - MemberApplication_BundleMember_ActivationEmail
      - MemberApplication_BundleAdmin_ActivationEmail
      - MemberRenewal_FreeRenewal
      - MemberRenewal_RenewalPending
      - MemberRenewal_RenewalConfirmed
      - MemberRenewal_RenewalCanceledByMember
      - MemberRenewal_MemberRenewal_RecurringRenewalFailed
      - MemberRenewal_Online_PaymentSuccessfull
      - MemberRenewal_AdvanceRenewalReminder1
      - MemberRenewal_AdvanceRenewalReminder2
      - MemberRenewal_RenewalDateNotice
      - MemberRenewal_GracePeriod
      - MemberRenewal_Lapsed
      - MemberLevelChange_InitiationEmail
      - MemberLevelChange_ActivationEmail
      - Donation_Confirmation
      - EventRegistration_OfflinePayment_FreeLevelConfirmationEmail
      - EventRegistration_OfflinePayment_PaidLevelConfirmationEmail
      - EventRegistration_OfflinePayment_PaidLevelPendingEmail
      - EventRegistration_NewWaitlistEntryEmail
      - EventRegistration_CanceledEmail
      - EventRegistration_OnlinePayment_PaidLevelConfirmationEmail
      - EventRegistration_Reminder1
      - EventRegistration_Reminder2
      - EventRegistration_Reminder3
      - EventRegistration_Announcement1
      - EventRegistration_Announcement2
      - EventRegistration_Announcement3
      - EmailBlast_Members
      - EmailBlast_Registrations
      - EmailBlast_WaitlistPersons
      - Finances_Invoice
      - Finances_PaymentReceipt
      - Finances_DonationReceipt
      - Finances_RefundNote
      - Contact_Password
      - SubscriptionForm_Confirmation
      - Public_MemberToMemberEmail
      - Poll_Announcement_Notification
      - ForgottenPasswordRequest
      - ForumNotification
      - ForumTopicNotification
      - OnlineStore_Order
      description: The reason why the email was sent.
    EmailLogRecord:
      type: object
      properties:
        Id:
          type: integer
          description: Unique email identifier.
        Url:
          $ref: '#/components/schemas/ResourceUrl'
        SentDate:
          type: string
          description: Date when email sending was started.
        Subject:
          type: string
          description: Email subject.
        Body:
          type: string
          description: Email body.
        ReplyToName:
          type: string
        ReplyToAddress:
          type: string
        Type:
          $ref: '#/components/schemas/EmailType'
        IsTrackingAllowed:
          type: boolean
        IsCopySentToAdmins:
          type: boolean
        SenderId:
          type: integer
        SenderName:
          type: string
        SendingType:
          $ref: '#/components/schemas/InitializationSourceType'
        Origin:
          $ref: '#/components/schemas/EmailOrigin'
        SubOriginId:
          type: integer
        RecipientCount:
          type: integer
        ReadCount:
          type: integer
        UniqueLinkClickCount:
          type: integer
        SuccessfullySentCount:
          type: integer
        RecipientsThatClickedAnyLinkCount:
          type: integer
        FailedCount:
          type: integer
        InProgress:
          type: boolean
        Recipient:
          $ref: '#/components/schemas/EmailRecipient'
          description: only if email has a single recipient
    EmailOrigin:
      type: object
      properties:
        OriginType:
          $ref: '#/components/schemas/EmailOriginType'
        Id:
          type: integer
          description: Unique origin identifier.
        Name:
          type: string
    InitializationSourceType:
      type: string
      enum:
      - Automatic
      - Manual
      description: Email initialization source type.
    EmailRecipient:
      type: object
      properties:
        Id:
          type: integer
          description: 'If email was sent to individual recipient, this field contains contact identifier.

            If email was sent to all recipients from some saved search, this field contains saved search identifier.

            '
        Type:
          type: integer
          description: Recipient group type.
          enum:
          - IndividualContactRecipient
          - IndividualEventRegistrationRecipient
          - EventAttendees_CheckedIn
          - EventAttendees_NotCheckedIn
          - EventAttendees_Paid
          - EventAttendees_NotPaid
          - EventAttendees_All
          - EventAttendees_Selected
          - Contacts_All
          - Contacts_Selected
          - Contacts_SavedSearch
          - Members_All
          - Members_SavedSearch
          - SentEmailRecipient
          - EventWaitlist_All
          - EventWaitlist_Selected
        Name:
          type: string
          description: Display name of recipient or name of saved search.
        Email:
          type: string
          description: recipient email. for IndividualRecipient and SentEmailRecipient types only
    ResourceUrl:
      type: string
      description: Permanent resource URL in API.
    EmailLog:
      allOf:
      - $ref: '#/components/schemas/EmailLogRecords'
      - $ref: '#/components/schemas/EmailLogIdentifiers'
    EmailOriginType:
      type: string
      enum:
      - System
      - Contact
      - MembershipLevel
      - Event
      - Donation
      - WebPage
      - ForumTopicSubscription
      - FinancialDocument
      - NewPasswordEmail
      - OnlineStoreOrder
      - PollStartAnnouncement
      description: Email origin type.
    EmailLogIdentifiers:
      type: object
      properties:
        EmailsIdentifiers:
          type: array
          items:
            type: integer
            description: Unique email identifier.
          description: A collection of email log record identifiers.
    EmailLogRecords:
      type: object
      properties:
        Emails:
          type: array
          items:
            $ref: '#/components/schemas/EmailLogRecord'
          description: 'Collection of email log records.

            '
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for WildApricot API
      flows:
        clientCredentials:
          tokenUrl: https://oauth.wildapricot.org/auth/token
          scopes:
            auto: Full API access
